body{
	font-family: Arial, sans-serif;
	background-image: url("paysage.jpg");
	background-color: rgba(0, 0, 0, 0.3);
	background-size: 20%;
	margin: 0;
	width: 100%;
}

header{
	background-color: rgba(255, 255, 255, 0.9);
	width: 98%;
	height: 200px;
	margin: 20px;
}

#menu {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5%;
}

.button {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 10px 260px;
  border-radius: 5px;
  border-width: 1px;
  border-color: black;
  cursor: pointer;
  margin: 2px;
  color: white;
  transition: background-color 0.3s ease;
}

.button:hover {
  	background-color: grey;
	color: wheat;
}


.button:active {
  background-color: grey;
  transform: translateY(4px);
}

h1{
	font-size: 45px;		
	text-align: center;
	background-size: 50px;
	color: black;
}

#pour_toi table{
	margin: 0 auto;
	width: 95%;
}

#pour_toi td{
	width: 75%;
	height: auto;
	border-radius: 15px;
}

#pour_toi .poste{
	background-color: rgba(255, 255, 255, 0.9);
	width: 90%;
	height: 800px; /*normalement la hauteur sera en auto c'était juste pour avoir une idée de mise en page*/
	border-radius: 15px;
	margin: 15px;
}

#pour_toi .profile_recommandations{
	background-color: rgba(255, 255, 255, 0.9);
	width: 90%;
	height: 395px; /*normalement la hauteur sera en auto c'était juste pour avoir une idée de mise en page*/
	border-radius: 15px;
	margin: 15px;
}

#pour_toi .texte{
	font-size: 12px;
	text-align: center;	
}

footer {
	background-color: rgba(0, 0, 0, 0.3);
	opacity: 1;
	width: 100%;
	height: 160px;
}